{{define "title"}}Tim Cavell{{end}}
{{define "header"}}
  <h1>Tim Cavell</h1>
  <h2>Programmer</h2>
{{end}}
{{define "main"}}
<h3>Writing</h3>
<ul>
  <li><a href="/2020/09/wrangling_springs_automagic">Wrangling Spring’s Automagic</a></li>
  <li><a href="/2020/02/ban_git_pull">Ban Git Pull</a></li>
  <li><a href="/2020/02/austin_to_big_bend">3 Days: Austin → Big Bend</a></li>
  <li><a href="/2020/02/total_control">Total Control</a></li>
  <li><a href="/2020/02/site_goals">Site Goals</a></li>
  <li><a href="/2020/01/javascript_fatigue">JavaScript Fatigue</a></li>
  <li><a href="/2020/01/counting_titus">Counting Titus</a></li>
</ul>
{{end}}