{{define "title"}}Posts{{end}}
{{define "body"}}
  <header>
    <h1>All Posts</h1>
  </header>
  <hr />
  <ul>
    <li><a href="/2020/02/ban_git_pull">Ban Git Pull</a></li>
    <li><a href="/2020/02/austin_to_big_bend">3 Days: Austin → Big Bend</a></li>
    <li><a href="/2020/02/total_control">Total Control</a></li>
    <li><a href="/2020/02/site_goals">Site Goals</a></li>
    <li><a href="/2020/01/javascript_fatigue">JavaScript Fatigue</a></li>
    <li><a href="/2020/01/counting_titus">Counting Titus</a></li>
  </ul>
{{end}}